<div class="fdiv">
	<div class="row fdivu">
		
	</div>
	<!-- 图标 -->
<!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
<link href="/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/change_font-awesome.css" rel="stylesheet">

	<div style="clear:both;" class="footup">
		<div class="container" style="width: 100%;">
			<div class="row">
				<div class="rol-sm-12">

					<div class="fdlogo">
						<!-- <span>123456</span> -->
						<img src="/image/exchange.jpg">
						<!-- <span>123456</span> -->
					</div>
		    		
				</div>
			</div>
		    <div class="row text-center" style="width: 100%;">
		    	
		    	<div class="col-sm-3 footu4">
			    	<h3 class="">联系我们</h3>
			    	<p class="link">
				    	<i class="fa fa-phone-square fa-fw"></i>
				    	客服：<a href="tel:4004004000" target="_self">400-400-4000(7x24小时)</a>
			    	</p>
			    	<p class="link">
				    	<i class="fa fa-phone-square fa-fw"></i>
				    	固话：<a href="tel:18770020458" target="_self">18770020458(7x24小时)</a>
				    </p>
			    	<p class="link">
				    	<i class="fa fa-envelope fa-fw"></i>
				    	邮箱：<a href="mail:374910421@qq.com" target="_self">374910421@qq.com</a>
			    	</p>
			    	<p class="link">
				    	<i class="fa fa-qq fa-fw"></i>
				    	QQ交流群：<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=c9d1bc4439f52b75a68e4ac4aa00efe1c603e27fca409033953a7ce30b4cdb81" title="CHBTC官方⑩群">374910421</a>
			    	</p>
			        <p>
			        	<a href="#nogo"><i class="fa fa-weibo"></i></a>
			        	<a href="#nogo"><i class="fa fa-tencent-weibo"></i></a>
			        	<a href="#nogo"><i class="fa fa-weixin"></i></a>
						<a href="#nogo"><i class="fa fa-renren"></i></a>
						<a href="#nogo"><i class="fa fa-qq"></i></a>
						<a href="#nogo"><i class="fa fa-facebook-square"></i></a>
			        </p>
			        
			    </div>
			    <div class="col-sm-3 footu4">
			    	<h3 class="">关于我们</h3>
			        <p><a href="">公司简介</a></p>
			        <p><a href="">管理团队</a></p>
			        <p><a href="">大事记</a></p>
			        <p><a href="">联系我们</a></p>
			    </div>
			    <div class="col-sm-3 footu4">
			        <h3 class="">客户服务</h3>
			        <p><a href="">使用教程</a></p>
			        <p><a href="">常见问题</a></p>
			        <p><a href="">服务协议</a></p>
			        <p><a href="">API文档</a></p>
			    </div>
			    <div class="col-sm-3 footu4 footlast">
			    	<div class="footu4">
				    	<h3>&nbsp;</h3>
				        <p><img src="/image/wechat.png" width="100" height="100"></p>
				        <p><a href="">合作媒体：374910421@qq.com</a></p>
				        <p><a href="">市场合作：jx-bamboo@outlook.com</a></p>
				        <p><a href="">&nbsp;</a></p>
			        </div>
			    </div>
		    </div>
		</div>	
	</div>
	
	<div class="fdivd bblack">
		<div class="fbeian white">粤ICP备16035487号-1 © 2016 Brock Technology Co., Ltd.</div>
	</div>
</div>