<!-- <div class="head bwhite">
	<div class="h_up bwhite">
		<div class="hup headd" style="vertical-align: middle;">
			<img src="/image/logo.jpg" height="30;">
		</div>
		
		<div class="hup headd2" style="vertical-align: middle;">
			<ul>
				<li class="headMenu"><a>BROCKEX</a></li>
				<li class="headMenu"><a>服务</a></li>
				<li class="headMenu"><a>交易品种</a></li>
				<li class="headMenu"><a>登录</a></li>
				<li>
					<div class="headM">
						<h6>BTC/CNY</h6>
						<b class="red">￥17592.01</b>
					</div>
				</li>
				<li>
					<div class="headM">
						<h6>ETH/CNY</h6>
						<b class="red">￥1668.04</b>
					</div>
				</li>
				<li>
					<div class="headM">
						<h6>ETC/CNY</h6>
						<b class="red">￥117.03</b>
					</div>
				</li>
				<li>
					<div class="headM">
						<h6>LTC/CNY</h6>
						<b class="red">￥343.31</b>
					</div>
				</li>
				<li>
					<div class="headM">
						<h6>BTS/CNY</h6>
						<b class="red">￥1.1899</b>
					</div>
				</li>
				<li>
					<div class="headM">
						<h6>EOS/CNY</h6>
						<b class="red">￥16.28</b>
					</div>
				</li>
			</ul>
		</div>

	</div>

	

	<!-- <div class="hup searchD" style="float:right ;vertical-align: middle;position: relative;top: -30px;">
		<input type="text" name="search" placeholder="Search...">
		<a href="#"><span class="searchIcon">&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
	</div> -->
	<!-- <form class="navbar-form navbar-left" role="search">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Search">
		</div>
		<button type="submit" class="btn btn-default">提交</button>
	</form> -->

<!-- </div> -->

<div class="outD bwhite">
	<nav class="navbar navbar-default bwhite outNav" id="outNav" role="navigation">
		<div class="container-fluid bwhite " id="outNd"> 
			<div class="navbar-header text-left" id="logodiv">
				<button type="button" class="navbar-toggle" data-toggle="collapse" 
		         data-target="#example-navbar-collapse">
			         <span class="sr-only">切换导航</span>
			         <span class="icon-bar"></span>
			         <span class="icon-bar"></span>
			         <span class="icon-bar"></span>
		         </button>
				<!-- menu logo -->
				<a class="navbar-brand menuA" href="#">
					<div class="hup headd" style="vertical-align: middle;">
						<img src="/image/logo.png" height="">
					</div>
				</a>
			</div>
			<div class="collapse navbar-collapse" id="example-navbar-collapse">
				<ul class="nav navbar-nav bwhite" id="menuUl">
					<li class="active cmc"><a href="#">首页</a></li>
					<li class="cmc"><a href="#">服务</a></li>
					<li class="cmc"><a href="#">资讯</a></li>
					<li class="cmc"><a href="#">资产</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							交易品种 <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li class="cmc"><a href="#">ETC / CNYT</a></li>
							<li class="divider"></li>
							<li class="cmc"><a href="#">WIN / BTC</a></li>
							<li class="cmc"><a href="#">ETC / BTC</a></li>
							<li class="cmc"><a href="#">LTC / BTC</a></li>
							<li class="cmc"><a href="#">ZEC / BTC</a></li>
							<li class="cmc"><a href="#">SC / BTC</a></li>
							<li class="divider"></li>
							<li class="cmc"><a href="#">ETC / ETH</a></li>
						</ul>
					</li>
					<!-- 价格显示区 -->
					<!-- <li class="active" style="max-height: 52px;">
						<div class="hup2 headd22" style="vertical-align: middle;">
							<ul class="nav navbar-nav bwhite">
								<li>
									<div class="headM2">
										<h6>BTC/CNY</h6>
										<b class="red">￥17592.01</b>
									</div>
								</li>
								<li>
									<div class="headM2">
										<h6>ETH/CNY</h6>
										<b class="red">￥1668.04</b>
									</div>
								</li>
								<li>
									<div class="headM2">
										<h6>ETC/CNY</h6>
										<b class="red">￥117.03</b>
									</div>
								</li>
								<li>
									<div class="headM2">
										<h6>LTC/CNY</h6>
										<b class="red">￥343.31</b>
									</div>
								</li>
								<li>
									<div class="headM2">
										<h6>BTS/CNY</h6>
										<b class="red">￥1.1899</b>
									</div>
								</li>
								<li>
									<div class="headM2">
										<h6>EOS/CNY</h6>
										<b class="red">￥16.28</b>
									</div>
								</li>
							</ul>
						</div>
					</li> -->
					<!-- <li class="cmc"><a href="#">登录</a></li>
					<li class="cmc text-right"><a href="#">注册</a></li> -->

				</ul>
				<!-- 搜索 -->
				<div class="searchdiv">
					<form class="navbar-form text-right" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<!-- <button type="submit" class="btn btn-default">提交</button> -->
						<button type="submit" class="searchIcon">&nbsp;&nbsp;&nbsp;&nbsp;</button>
						<button type="" id="logA" class="btn logB bwhite" width="54" height="34">
							<a href="#">登录</a>
						</button>
						<button type="" id="logB" class="btn logB bwhite" width="54" height="34">
							<a href="#">注册</a>
						</button>
					</form>
				</div>
				<!--  -->

			</div>
			<!--  -->
				
			
		</div>
	</nav>
</div>

